.order-card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	min-height: 2rem;
	height: fit-content;
	border-radius: 20px;
	background-color: var(--foreground);
	color: var(--foreground-text);
}

.order-card__header {
	display: grid;
}

.order-card__status {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.order-card__status-value {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.order-card__unconfirmed {
	background-color: var(--dark);
	color: var(--light);
	outline: solid 2px var(--light);
}

.order-card__in-progress {
	background-color: var(--foreground-text);
	color: var(--dark);
}

.order-card__ready {
	background-color: var(--light-green);
	color: var(--dark);
}

.order-card__in-transit {
	background-color: var(--light-red);
	color: var(--dark);
}

.order-card__delivered {
	background-color: var(--light-gold);
	color: var(--dark);
}

.order-card__id {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.order-card__id-value {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.order-card__price {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.order-card__price-value {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.order-card__date {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.order-card__date-value {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.order-card__time {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.order-card__time-value {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}
