.live-monitor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.live-monitor__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
}

.live-monitor__content > * {
	margin-bottom: 1rem;
}

.live-monitor__display-limit {
	align-self: flex-end;
	margin-bottom: 1rem;
}

.live-monitor__order-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(min-content, max-content);
	grid-gap: 1rem;
	padding: 1rem;
}
